@font-face {
  font-family: 'Hind Madurai';
  src: url("/fonts/HindMadurai-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url("/fonts/HindMadurai-Regular.ttf");
  font-weight: 500;
}

/* html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Hind Madurai", sans-serif;
} */

* {
  margin: 0;
  padding: 0;
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
  }

body {
  font-family: "Hind Madurai", sans-serif;
  font-size: 16px;
}
